body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("../src/images/20944694.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

.Task-txt{
 
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 60%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.AddTask-btn {
  background: linear-gradient(45deg, #e73f3f, #fe1f6d);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.AddTask-btn:hover {
  background: linear-gradient(45deg, #ef1863, #e00d0d);
}

.AddTask-btn:active {
  box-shadow: 0 2px;
  transform: translateY(4px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

li button {
  background-color: #fe6600;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

li button:hover {
  background-color: #e65c00;
}

@media (max-width: 768px) {
  .App {
    margin: 20px auto;
    padding: 15px;
  }

  input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .AddTask-btn {
    width: 100%;
    margin-top: 10px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  li button {
    margin-top: 10px;
    width: 100%;
  }
}
